<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
    <!-- Navigation -->
    <nav class="navbar navbar-default bg-danger navbar-fixed-top" style="box-shadow: 0px 1px 10px black">
        <div class="navbar-header text-light">
            <a routerLink="/">
                <strong>Dial-A-Plumber
                    <i class="fa fa-pipe fa-lg"></i>
                </strong>
            </a>
        </div>

        <div class="navbar-right text-light">
            <ul class="nav">
                <li class="nav-link">
                    <a routerLink="/plumbers">Plumbers</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <router-outlet></router-outlet>
</div>
